API_PORT=4317
WEB_PORT=5173
WEB_URL=http://127.0.0.1:5173/
SPOTTOYT_STORAGE_PATH=./data/spottoyt-storage.json
YTMUSIC_AUTH_PATH=./apps/api/auth/ytmusic-browser.json
VITE_API_URL=http://127.0.0.1:4317
